services:
  freeswitch:
    build: .
    container_name: freeswitch
    restart: unless-stopped
    ports:
      - "5060:5060/udp"
      - "5060:5060/tcp"
      - "5061:5061/udp"
      - "5061:5061/tcp"
      - "5080:5080/udp"
      - "5080:5080/tcp"
      - "8021:8021/tcp"
      - "16384-32768:16384-32768/udp"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 3G
