services:
  proxy:
    image: itzg/mc-proxy
    env_file: velocity.env
    environment:
      TYPE: VELOCITY
      REPLACE_ENV_VARIABLES: "true"
      REMOVE_OLD_PLUGINS: "true"
      PLUGINS_FILE: /config/plugins.txt
      ICON: https://github.com/miners-online/.github/blob/main/profile/logos/favicon-64x64.png?raw=true
    ports:
      - "25565:25577"
      - "19132:19132/udp"
    volumes:
      - ./config:/config/
    restart: unless-stopped
    networks:
      - minecraft

networks:
  minecraft:
